body {
	background: #f2f2f2;
	color: #595959;
	font-family: Arial;
}

h1 {
	background: #595959;
	color: #f2f2f2;
	text-align: center;
	font-weight: bold;
	padding: 1em 0;
}

p {
	text-align: center;
}